<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #3 CSS Variables</title>
    <script type="text/javascript" src='/3. CSS Variables/public/js/index.js'></script>
    <link rel="stylesheet" href="/3. CSS Variables/public/css/index.css">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <h1>CSS Variables</h1>
    <p><a href='https://github.com/Oddert/30-days-js'>#3/30 | 30 Days of Javascript</a> | <a href='https://oddert.github.io/'>Oddert - Robyn Veitch</a></p>
    <div class="container">
      <div class="inputs">
        <div class="form-group">
          <label for="blur">Blur: </label>
          <input type="range" min='0' max='100' value='10' name="blur" id='blur' data-suffix='px' class='slider' />
        </div>
        <div class="form-group">
          <label for="spacing">Spacing: </label>
          <input type="range" min='0' max='100' value='10' name="spacing" id='spacing' data-suffix='px' class='slider' />
        </div>
        <div class="form-group">
          <label for="colour">Colour: </label>
          <input type="color" name="colour" id='colour' value='#1bbc9b' />
        </div>
      </div>
      <div class="image-flex">
        <div class='image-back'>
          <div class="image">
            <img src="https://m.discoverlosangeles.com/sites/default/files/media/activities/points_of_interest/griffith-observatory-hollywood-sign-sunset.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
