<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #17 Sort Names without Articles</title>
    <!-- This is index.ejs not for use on the root app.js  -->
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="container">
      <h1>Remove Articles and Sort Alphabetically</h1>
      <div class="flex">
        <div class="input">
          <ul class="input-list">

          </ul>
        </div>
        <div class="articles">
          <h3>Articles For Removal</h3>
          <p>"a"</p>
          <p>"the"</p>
          <p>"an"</p>
          <p>
            <strong>/^(a |the |an )/i</strong>
          </p>
          <p class="arrow">➟</p>
        </div>
        <div class="bands">
          <ul class="bands-list">

          </ul>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src='/js/index.js'></script>
</html>
