<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #4 Array Cardio Day 1</title>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <script type="text/javascript" src='/js/index.js'></script>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <h1>Array Cardio Challenges</h1>
    <div class="data">

      <div class='data-set'>
        <h2>Data - Inventors:</h2>
        <code>const inventors = [
          { first: 'Albert', last: 'Einstain', year: 1879, passed: 1955 },
          { first: 'Isaac', last: 'Newton', year: 1643, passed: 1727 },
          { first: 'Galileo', last: 'Gelilei', year: 1564, passed: 1642 },
          { first: 'Marie', last: 'Curie', year: 1867, passed: 1934 },
          { first: 'Johannes', last: 'Kepler', year: 1571, passed: 1630 },
          { first: 'Nicolaus', last: 'Copernicus', year: 1473, passed: 1543 },
          { first: 'Max', last: 'Plank', year: 1858, passed: 1947 }
        ]</code>
      </div>

      <div class='data-set'>
        <h2>Data - People:</h2>
        <code>const people = [
          'Back, Glen', 'Becker, Carl', 'Becket, Samuel', 'Beddoes, Mick',
          'Beecher, Henry', 'Beethoven, Ludwig', 'Begin, Menachem', 'Belloc, Hilaire',
          'Benjamin, Walter', 'Benn, Tony', 'Bennington, Chester', 'Benson, Leana',
          'Bent, Silas', 'Bentsen, Lloyd', 'Berger, Ric', 'Bergman, Ingmar', 'Berio, Luciano',
          'Berle, Milton', 'Berlin, Irving', 'Berne, Eric', 'Bernhard, Sandra', 'Berra, Yogi',
          'Berry, Halle', 'Berry, Wendell', 'Bethea, Erin', 'Bevan, Anerin', 'Bevel, Ken',
          'Biden, Joseph', 'Berce, Ambrose', 'Biko, Seteve', 'Billings, Josh', 'Biondo, Frank',
          'Birrell, Augistine', 'Black, Elk', 'Blair, Robert', 'Blair, Tony', 'Blake, William'
        ]</code>
      </div>

    </div>

    <!-- <hr /> -->

    <div class="challenge-container">
      <div class="challenge">
        <h3>1) Filter the list of inventors for those who were born in the 1500's</h3>
        <code id='one'></code>
      </div>
      <div class="challenge">
        <h3>2) Give us an array of the inventors first and last names</h3>
        <code id='two'></code>
      </div>
      <div class="challenge">
        <h3>3) Sort the inventors by birthdate, oldest to youngest</h3>
        <code id='three'></code>
      </div>
      <div class="challenge">
        <h3>4) How many years did all the inventors live?</h3>
        <code id='four'></code>
      </div>
      <div class="challenge">
        <h3>5) Sort the inventors by years lived</h3>
        <code id='five'></code>
      </div>
      <div class="challenge">
        <h3>6) Create a list of boulevards in Paris that contain the 'de' anywhere in the name</h3>
        <p>https://en.wikipedia.org/wiki/Category:Boulevards_in_Paris</p>
        <code id='six'></code>
      </div>
      <div class="challenge">
        <h3>7) Sort the people alphabetically by last name</h3>
        <code id='seven'></code>
      </div>
      <div class="challenge">
        <h3>8) Talley up the instancs of transport</h3>
        <code id='eight'></code>
      </div>
    </div>

  </body>
</html>
