<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript</title>
    <link rel="stylesheet" href="/public/index.css">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=0.666667, meximum-scale=0.6666667, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <div class="project-container">
      <% projects.forEach(each => { %>
        <ul class="project">
          <a href="/<%= each.title %>">
            <%= each.title %>
            <% if (each.workToDo) { %>
              (still work to do)
            <% } %>
          </a>
          <% if (each.thumbnail) { %>
            <img src="https://raw.githubusercontent.com/Oddert/30-days-js/master/screenshots/<%= each.thumbnail %>" alt="<%= each.title %> thumbnail" class="thumbnail" />
          <% } %>
        </ul>
      <% }) %>
    </div>
  </body>
</html>
