<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript</title>
    <script src="//use.edgefonts.net/bangers.js"></script>
    <script type="text/javascript" src='./public/js/index.js'></script>
    <link rel="stylesheet" href="./public/css/index.css">
  </head>
  <body>
    <h1>Array Cardio Challenges</h1>
    <div class="data">

      <div class='data-set'>
        <h2>Data - People:</h2>
        <code>const people = [
          { name: 'Wes', year: 1988 },
          { name: 'Kait', year: 1986 },
          { name: 'Irv', year: 1970 },
          { name: 'Lux', year: 2015 }
        ]</code>
      </div>

      <div class='data-set'>
        <h2>Data - Comments:</h2>
        <code>const comments = [
          { text: 'Love this!', id: 523423 },
          { text: 'Super good', id: 823423 },
          { text: 'You are the best', id: 2039842 },
          { text: 'Ramen is my fav food ever', id: 123523 },
          { text: 'Nice Nice Nice!', id: 542328 },
        ]</code>
      </div>

    </div>

    <!-- <hr /> -->

    <div class="challenge-container">
      <div class="challenge">
        <h3>1) Is at least one person 19?</h3>
        <code id='one'></code>
      </div>
      <div class="challenge">
        <h3>2) Is everyone 19?</h3>
        <code id='two'></code>
      </div>
      <div class="challenge">
        <h3>3) Find comment id: 823423</h3>
        <code id='three'></code>
      </div>
      <div class="challenge">
        <h3>4) Find comment id: 823423 and delete</h3>
        <code id='four'></code>
      </div>
      <!-- <div class="challenge">
        <h3>5) Sort the inventors by years lived</h3>
        <code id='five'></code>
      </div>
      <div class="challenge">
        <h3>6) Create a list of boulevards in Paris that contain the 'de' anywhere in the name</h3>
        <p>https://en.wikipedia.org/wiki/Category:Boulevards_in_Paris</p>
        <code id='six'></code>
      </div>
      <div class="challenge">
        <h3>7) Sort the people alphabetically by last name</h3>
        <code id='seven'></code>
      </div>
      <div class="challenge">
        <h3>8) Talley up the instancs of transport</h3>
        <code id='eight'></code>
      </div> -->
    </div>

  </body>
</html>
