:root {
	--video-border-r: 10px;
	--video-h: 150px;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	/* background: #333; */
}

/* body {
	background: rgb(141,68,173);
	background: linear-gradient(90deg, rgba(141,68,173,1) 0%, rgba(244,67,54,1) 100%); 
} */

* {
  font-family: helvetica, arial, sans-serif, 'open sans';
}

h1 {
  color: tomato;
}

h2 {
	text-align: center;
	color: #bbb;
}

p {
	font-size: 16px;
}

code {
	background: rgba(0,0,0,.3);
	font-size: 16px;
	padding: 5px;
	border-radius: 5px;
	font-family: monospace;
}

.document__title {
	grid-row: 1;
	grid-column: 1 / -1;
	padding: 0 100px;
}

.document__title h1 {
	color: #ecf0f1;
	font-size: 36px;
	padding: 50px 0 20px 0;
}

.document__title p {
	color: #ecf0f1;
}

.video {
  list-style-type: none;
  padding: 0;
  display: flex;
	flex-direction: column;
  align-items: center;
	border: 1px solid #bec3c7;
	border-radius: var(--video-border-r);
	width: 250px;
	position: relative;
	background: #fff;
	margin: 5px 10px;
	z-index: 1;
}

.video .thumbnail {
  /* max-height: 100px;
  max-width: 100px; */
	width: 100%;
	height: var(--video-h);
	object-fit: cover;
	border-radius: var(--video-border-r) var(--video-border-r) 0 0;
}

.video span {
  flex: 1;
  margin-left: 30px;
}

.video .video__time {
	position: absolute;
	top: var(--video-h);
	right: 0;
	transform: translate(-8px, calc(-100% - 8px));
	color: #fff;
	background: #222;
	padding: 1px 3px;
	border-radius: 4px;
}

.columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: linear-gradient(90deg, rgba(141,68,173,1) 0%, rgba(244,67,54,1) 100%);
	transition: .3s linear;
	min-height: 100vh;
	padding-bottom: 200px;
}

.column {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	/* background: #444; */
	margin: 5px;
	padding: 20px;
	border-radius: 20px;
	border: 1px solid #222;
	overflow: hidden;
	transition: .3s linear;
	/* background: rgb(141,68,173);
	background: linear-gradient(90deg, rgba(141,68,173,1) 0%, rgba(244,67,54,1) 100%);  */
	/* background: rgba(255,255,255,.3); */
}

.column .bg {
	position: absolute;	
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	filter: blur(40px);
	border-radius: var(--video-border-r);
}

.columns.dragging {
	background: linear-gradient(90deg, rgb(130, 55, 161) 0%, rgb(221, 54, 42) 100%); 
}

.column.dragon {
	background: linear-gradient(90deg, rgb(130, 55, 161) 0%, rgb(221, 54, 42) 100%); 
}

.output {
	grid-column: 1 / -1;
	grid-row: 2;
	display: flex;
	justify-content: center;
}

.output .output__text {
	font-size: 30px;
	font-weight: 500;
	color: #1D2E40;
}

.output .output__data {
	font-weight: 700;
}

.videos__title {
	grid-column: 1;
	grid-row: 3;	
}
.videos {
	grid-column: 1;
	grid-row: 4;	
}
.queue__title {
	grid-column: 2;
	grid-row: 3;
}
.queue {
	grid-column: 2;
	grid-row: 4;
}