<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript</title>
    <script type="text/javascript" src='/js/index.js'></script>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <p onClick='handleClick()'>Break Down</p>
  </body>
</html>
