<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #8 HTML Canvas</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="canvas-flex">
      <canvas id="draw" width="800" height="800"></canvas>
    </div>
  </body>
  <script type="text/javascript" src='/js/index.js'></script>
</html>
