<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #15 Local Storage</title>
    <link rel="stylesheet" href="./public/css/index.css">
  </head>
  <body>
    <div class="list-flex">
      <div class="list-container">
        <h1 class="title">Loading Menu...</h1>
        <ul class="list">

        </ul>
        <form class="new_item">
          <input type="text" name="input" required />
          <input type="submit" value="Add" />
        </form>
        <div class="control">
          <button class="checkAll">Check All</button>
          <button class="unCheckAll">Un-Check All</button>
          <button class="clear">Clear List</button>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src='./public/js/index.js'></script>
</html>
