<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #29 Countdown Timer</title>
    <link rel="stylesheet" href="/29. Countdown timer/public/css/index.css">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <div class="timer">
      <div class="timer__controls">
        <div class="timer__controls-buttons">
          <button data-time="20" class="timer__button">20 Secs</button>
          <button data-time="300" class="timer__button">Work 5 Mins</button>
          <button data-time="1800" class="timer__button">Work 30 Mins</button>
          <button data-time="3600" class="timer__button">Work 60 Mins</button>
          <button data-time="900" class="timer__button">Quick 15 Min Break</button>
          <button data-time="1200" class="timer__button">Snack 20 Mins</button>
          <button data-time="3600" class="timer__button">Lunch</button>
        </div>
        <form name="customForm" id="custom__time">
          <input type="text" name="minutes" placeholder="Enter Minutes">
        </form>
        <button class="timer__toggleTwelveHour">24 Hour</button>
      </div>
      <div class="display__time">
        <svg class="ring" height="350" width="350">
          <circle class="ring__circle" r="155" cx="175" cy="175"></circle>
        </svg>
        <div class="display__time-inner">
          <h1 class="display__time-left"></h1>
          <p class="display__end-time"></p>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src='/29. Countdown timer/public/js/index.js'></script>
</html>
