<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #12 Key Sequence Detection</title>
    <link rel="stylesheet" href="./public/css/index.css">
  </head>
  <body>
    <div class="display_flex">
      <div class="display">
        <h1>[<span class='display-out'></span>]</h1>
      </div>
    </div>
    <div class="notahint">
      @oddert
    </div>
  </body>
  <script type="text/javascript" src='./public/js/index.js'></script>
</html>
