<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #12 Key Sequence Detection</title>
    <link rel="stylesheet" href="/12. Key Sequence Detection/public/css/index.css">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <div class="display_flex">
      <div class="display">
        <h1>[<span class='display-out'></span>]</h1>
      </div>
    </div>
    <a 
			href='https://robynveitch.com/'
			class="not-a-hint"
		>
      @oddert
    </a>
  </body>
  <script type="text/javascript" src='/12. Key Sequence Detection/public/js/index.js'></script>
</html>
