<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <h1>Hello World</h1>
    <button class="download">Download Text</button>
    <div class="words">

    </div>
    <div class="avatar">
      <div class="head">
        <div class="eyes">
          <img src="https://mobile-cdn.123rf.com/300wm/dvarg/dvarg1504/dvarg150400030/38900208-objectif-de-la-cam%C3%A9ra-isol%C3%A9e-sur-fond-blanc-illustration-blue-eye.jpg?ver=6" alt="robot eye" class="eye left">
          <img src="https://mobile-cdn.123rf.com/300wm/dvarg/dvarg1504/dvarg150400030/38900208-objectif-de-la-cam%C3%A9ra-isol%C3%A9e-sur-fond-blanc-illustration-blue-eye.jpg?ver=6" alt="robot eye" class="eye right">
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src='/js/index.js'></script>
</html>
