<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #20 Native Speech Recognition</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <!-- <h1>Hello World</h1> -->
    <div class="oddBot">
      <div class="hat">
        <div class="hat-orb"></div>
      </div>

      <div class="head-cont">
        <div class="ear-cont">
          <div class="ear left">
            <div class="innerEar">

            </div>
          </div>
        </div>
        <div class="head">
          <div class="eyes">
            <img src="/img/eye default.png" alt="robot eye" class="eye left">
            <img src="/img/eye default.png" alt="robot eye" class="eye right">
          </div>
          <div class="mouth-cont">
            <img src="/img/mouth default.png" alt="robot mouth" class="mouth">
          </div>
        </div>
        <div class="ear-cont">
          <div class="ear right">
            <div class="innerEar">

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="dialogue">

    </div>
    <button class="download">Download Text</button>

    <hr />

    <div class="words">

    </div>
  </body>
  <script type="text/javascript" src='/js/index.js'></script>
</html>
