<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #30 Whack a Mole</title>
    <link rel="stylesheet" href="/30. Whack a Mole Game/public/css/index.css">
    <link rel="icon" type="image/png" href="/faveicon.png">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&display=swap" rel="stylesheet"> 
  </head>
  <body>
		<div class='title'>
			<h1>Whack a <span class='strikethrough'>mole</span> bug</h1>
			<div class='title-score'>
				Score: <span class="score">0</span>
			</div>
		</div>
		<div class="holes_wrapper">
			<div class="holes_container">
				<div class="holes_container--monitor_screen">
					<div class="holes_container--camera">
						<div class="holes_container--camera-inner">
						</div>
					</div>
					<div class="holes_container--power">
						<div class="holes_container--power-inner">
						</div>
					</div>
					<div class="holes_container--monitor_bezel">
						<div class="holes">
							<div class="hole hole1">
								<img src='/30. Whack a Mole Game/public/img/com-bug.png' class="mole" />
							</div>
							<div class="hole hole2">
								<img src='/30. Whack a Mole Game/public/img/com-bug.png' class="mole" />
							</div>
							<div class="hole hole3">
								<img src='/30. Whack a Mole Game/public/img/com-bug.png' class="mole" />
							</div>
							<div class="hole hole4">
								<img src='/30. Whack a Mole Game/public/img/com-bug.png' class="mole" />
							</div>
							<div class="hole hole5">
								<img src='/30. Whack a Mole Game/public/img/com-bug.png' class="mole" />
							</div>
							<div class="hole hole6">
								<img src='/30. Whack a Mole Game/public/img/com-bug.png' class="mole" />
							</div>
						</div>
					</div>
			    <button class="start-game">Start Game</button>
				</div>
				<div class="holes_container--neck"></div>
				<div class="holes_container--base"></div>
			</div>
		</div>
		<button class='open-instructions' title='open instructions'>
			<span>?</span>
			<img src="/30. Whack a Mole Game/public/img/notepad-bg.jpg" alt="open instructions" />
		</button>
		<div class="instructions--container">
			<div class="instructions">
				<h2>Instructions</h2>
				<p>Welcome to Whack a Bug!</p>
				<p>A spin on our favourite classic animal abuse game "Whack a Mole" with an appreciation of our furry friend's important role in the ecosystem.</p>
				<p>In our game instead of assaulting wildlife, you are an intrepid developer being assaulted by a seemingly endless series of code bugs, ruining your life (just like your day job).</p>
				<p>Squash the bugs as fast as you can before the timer runs out or your boss accuses you of playing games.</p>
				<p>As we all know from watching "hacker" movies from the 80's, bugs appear as little graphics running through mazes of generic code / circuitry, and you can eliminate them by shooting at them to "debug" the code.</p>
				<p>Once you're ready to start, click play and click on the bugs to score points.</p>
				<p>The score will be reset on each new game.</p>
				<p>This is legitimately what my aunt Hellen thinks my day job looks like.</p>
				<p>May the best developer have the highest score!</p>
				<p>-<a href='https://robynveitch.com'>Robyn</a></p>
				<button class='instructions-close'>close</button>
			</div>
		</div>
  </body>
  <script type="text/javascript" src='/30. Whack a Mole Game/public/js/index.js'></script>
</html>
