<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #30 Whack a Mole</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <h1>Hello World</h1>
    <button class="start-game">Start Game</button>
    <div>
      Score: <span class="score">0</span>
    </div>
    <div class="holes">
      <div class="hole hole1">
        <div class="mole"></div>
      </div>
      <div class="hole hole2">
        <div class="mole"></div>
      </div>
      <div class="hole hole3">
        <div class="mole"></div>
      </div>
      <div class="hole hole4">
        <div class="mole"></div>
      </div>
      <div class="hole hole5">
        <div class="mole"></div>
      </div>
      <div class="hole hole6">
        <div class="mole"></div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src='/js/index.js'></script>
</html>
