<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #14 Array Mutability</title>
    <script type="text/javascript" src='/js/index.js'></script>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="display-code">

      <span class="decl">let</span> age <span class='opp'>=</span> <span class='num'>100</span>
      <span class="decl">let</span> anotherAge <span class='opp'>=</span> age
      console.<span class="exec">log</span>(age, anotherAge)
      <span class="com">// 100, 100</span>
      age <span class='opp'>=</span> <span class='num'>250</span>
      console.<span class="exec">log</span>(age, anotherAge)
      <span class="com">// 250, 100</span>

      <span class="com">//Works the same with strings</span>

      <span class="decl">let</span> name <span class='opp'>=</span> <span class="str">'Robyn'</span>
      <span class="decl">let</span> anotherName <span class='opp'>=</span> name
      console.<span class="exec">log</span>(name, anotherName)
      <span class="com">// 'Robyn', 'Robyn'</span>

      name <span class='opp'>=</span> <span class="str">'Oddert'</span>
      console.<span class="exec">log</span>(name, anotherName)
      <span class="com">// 'Oddert', 'Robyn'</span>


      <span class="decl">const</span> players <span class='opp'>=</span> [<span class="str">'Scott'</span>, <span class="str">'Felicity'</span>, <span class="str">'Connor'</span>, <span class="str">'Jannet'</span>]

      <span class="decl">const</span> team <span class='opp'>=</span> players

      console.<span class="exec">log</span>(players, team)
      <span class="com">//Will be the same</span>

      team[<span class='num'>3</span>] <span class='opp'>=</span> <span class="str">'Wess'</span>
      console.<span class="exec">log</span>(players, team)
      <span class="com">// Will still be the same</span>

      <span class="decl">const</span> newTeam <span class='opp'>=</span> players.slice()
      newTeam[<span class='num'>2</span>] <span class='opp'>=</span> <span class="str">'Alex'</span>
      console.<span class="exec">log</span>(players, newTeam)
      <span class="com">// players retains the changes above but newTeam is seperate</span>

      <span class="com">// Some other methods</span>
      <span class="decl">const</span> teamCats <span class='opp'>=</span> [].concat(players)
      teamCats[<span class='num'>0</span>] <span class='opp'>=</span> <span class="str">'Sirius'</span>
      console.<span class="exec">log</span>(players, teamCats)

      <span class="decl">const</span> teamButter <span class='opp'>=</span> [...players]
      teamButter[<span class='num'>1</span>] <span class='opp'>=</span> <span class="str">'Get it? SPREAD ? ?? ge ...I\'ll leave'</span>
      console.<span class="exec">log</span>(players, teamButter)

      <span class="decl">const</span> runningOutOfNames <span class='opp'>=</span> Array.<span class="exec">from</span>(players)
      runningOutOfNames[<span class='num'>3</span>] <span class='opp'>=</span> <span class="str">'McVities'</span>
      console.<span class="exec">log</span>(players, runningOutOfNames)


      <span class="decl">const</span> person <span class='opp'>=</span> {
        <span class="attr">name</span><span class='opp'>:</span> <span class="str">'Oddert'</span>,
        <span class="attr">age</span><span class='opp'>:</span> <span class='num'>40</span>
      }

      <span class="decl">const</span> captain <span class='opp'>=</span> person
      captain.<span class="attr">age</span> <span class='opp'>=</span> <span class='num'>50</span>
      <span class="com">// Both will have age set to 50</span>
      console.<span class="exec">log</span>(person, captain)


      <span class="decl">const</span> admiral <span class='opp'>=</span> <span class='num'>Object</span>.<span class="exec">assign</span>({}, person, { <span class="attr">location</span><span class='opp'>:</span> <span class="str">'London'</span> })
      console.<span class="exec">log</span>(person, admiral)

      <span class="decl">const</span> oldOddert <span class='opp'>=</span> { ...person, <span class="attr">location</span><span class='opp'>:</span> <span class="str">'Glasgow'</span> }
      console.<span class="exec">log</span>(person, oldOddert)



      <span class="decl">const</span> oddert <span class='opp'>=</span> {
        <span class="attr">name</span><span class='opp'>:</span> <span class="str">'robyn'</span>,
        <span class="attr">age</span><span class='opp'>:</span> <span class='num'>21</span>,
        <span class="attr">social</span><span class='opp'>:</span> {
          <span class="attr">twitter</span><span class='opp'>:</span> <span class="str">'@oddert'</span>,
          <span class="attr">github</span><span class='opp'>:</span> <span class="str">'users/Oddert'</span>
        }
      }

      <span class="decl">const</span> dev <span class='opp'>=</span> <span class='num'><span class='num'>Object</span></span>.<span class="exec">assign</span>({}, oddert)
      dev.<span class="attr">name</span> <span class='opp'>=</span> <span class="str">'wes'</span>

      console.<span class="exec">log</span>(oddert, dev)

      dev.<span class="attr">social</span>.<span class="attr">twitter</span> <span class='opp'>=</span> <span class="str">'@dasherez0ne'</span>
      console.<span class="exec">log</span>(oddert.<span class="attr">social</span>, dev.<span class="attr">social</span>)

      <span class="decl">const</span> aFoolAndAFeind <span class='opp'>=</span> <span class='num'>JSON</span>.<span class="exec">parse</span>(<span class='num'>JSON</span>.<span class="exec">stringify</span>(oddert))
      aFoolAndAFeind.<span class="attr">social</span>.<span class="attr">twitter</span> <span class='opp'>=</span> <span class="str">'@BBCNews'</span>

      console.<span class="exec">log</span>(oddert, aFoolAndAFeind)
    </div>
  </body>
</html>
