<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #27 Click to Drag</title>
    <link rel="stylesheet" href="/27. Click Drag/public/css/index.css">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <div class="items">

    </div>
  </body>
  <script type="text/javascript" src='/27. Click Drag/public/js/index.js'></script>
</html>
