<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #27 Click to Drag</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="items">

    </div>
  </body>
  <script type="text/javascript" src='/js/index.js'></script>
</html>
