<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class='input'>

      <div class="form-group">
        <input type="checkbox" data-idx='0'>
        <label>test label</label>
      </div>
      <div class="form-group">
        <input type="checkbox" data-idx='1'>
        <label>test label</label>
      </div>
      <div class="form-group">
        <input type="checkbox" data-idx='2'>
        <label>test label</label>
      </div>
      <div class="form-group">
        <input type="checkbox" data-idx='3'>
        <label>test label</label>
      </div>
      <div class="form-group">
        <input type="checkbox" data-idx='4'>
        <label>test label</label>
      </div>
      <div class="form-group">
        <input type="checkbox" data-idx='5'>
        <label>test label</label>
      </div>
      <div class="form-group">
        <input type="checkbox" data-idx='6'>
        <label>test label</label>
      </div>
      <div class="form-group">
        <input type="checkbox" data-idx='7'>
        <label>test label</label>
      </div>

    </div>
  </body>
  <script type="text/javascript" src='/js/index.js'></script>
</html>
