<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #10 Shift Multiple Inputs</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>

    <div class='input'>
      <h3 class='title'>Shopping List</h3>
      <div class="list">
        <div class="form-group">
          <input type="checkbox" data-idx='0'>
          <label>Fuit Bagels</label>
        </div>
        <div class="form-group">
          <input type="checkbox" data-idx='1'>
          <label>3 Pears</label>
        </div>
        <div class="form-group">
          <input type="checkbox" data-idx='2'>
          <label>Salsa Sauce</label>
        </div>
        <div class="form-group">
          <input type="checkbox" data-idx='3'>
          <label>Fajita Kit</label>
        </div>
        <div class="form-group">
          <input type="checkbox" data-idx='4'>
          <label>Crisps</label>
        </div>
        <div class="form-group">
          <input type="checkbox" data-idx='5'>
          <label>Talisker 10y</label>
        </div>
        <div class="form-group">
          <input type="checkbox" data-idx='6'>
          <label>HDMI Cable</label>
        </div>
        <div class="form-group">
          <input type="checkbox" data-idx='7'>
          <label>Several Melons, only one water melon</label>
        </div>
      </div>
    </div>

  </body>
  <script type="text/javascript" src='/js/index.js'></script>
</html>
