
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: helvetica, arial, sans-serif, 'open sans';
}

h1 {
  color: tomato;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
}

video {
  max-width: 60vw;
}

.speed {
  width: 100px;
  height: 250px;
  margin: 50px;
  background: tomato;
}

.speed-bar {
  background: steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
