
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: helvetica, arial, sans-serif, 'open sans';
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
.hl {
  background-color: rgba(255, 191, 4, .7);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 400px;
  border: 1px solid #bec3c7;
  border-radius: 20px;
  font-size: 24px;
  padding: 10px;

}

input:focus, input:focus-visible, input:focus-within {
	outline-color: #1db3ee;
	border-color: #1db3ee;
}

/* .suggestions {

} */

li {
  width: 400px;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ecf0f1;
}

/* li span {

} */

.controls {
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.search-clear {
	cursor: pointer;
	padding: 10px 20px;
	background: none;
  border: 2px solid #bec3c7;
  border-radius: 20px;
	transition: .2s linear;
	font-size: 18px;
	color: #555758;
}

.search-clear:hover {
	background: #ecf0f1;
	border-color: #bec3c7;
	color: black;
}

.search-clear:active {
	background: #bec3c7;
	border-color: #1db3ee;
	outline: 2px solid #1db3ee;
}