<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #25 Event Contexts</title>
    <link rel="stylesheet" href="/25. Event Contexts/public/css/index.css">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
		<div class='controls'>
			<button 
				class='button_multi rippler' 
				title='this is a standard button event listener tracking clicks'
			>
				You may click infinately (0)
			</button>
			<button
				class='button_once rippler'
				title="this buttons' event listener uses the 'once' flag to unbind the listener after one click"
			>
				You may only click once (0)
			</button>
			<div class='toggle'>
				<label class='switch'>
					<input type='checkbox' id='captureControl'>
					<span class='slider round'></span>
				</label>
				<label for='captureControl'>
					Capture
				</label>
			</div>
			<div class='toggle'>
				<label class='switch'>
					<input type='checkbox' id='propigateControl' checked>
					<span class='slider round'></span>
				</label>
				<label for='propigateControl'>
					Propigate
				</label>
			</div>
			<!-- <button class='captureToggle rippler'>Capture: false</button>
			<button class='propigateToggle rippler'>Propigate: true</button> -->
			<!-- <button class='rippler'>Button</button> -->
		</div>
		<p class='layer__label'>
			body
		</p>
    <div class='layer one'>
			<p class='layer__label'>
				one
			</p>
      <div class='layer two'>
				<p class='layer__label'>
					two
				</p>
        <div class='layer three'>
					<p class='layer__label'>
						three
					</p>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src='/25. Event Contexts/public/js/index.js'></script>
</html>
