<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #25 Event Contexts</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <button class='button_multi' title="this is a standard button event listener tracking clicks">You may click infinately (0)</button>
    <button class='button_once' title="this buttons' event listener uses the 'once' flag to unbind the listener after one click">You may only click once (0)</button>
    <div class="one">
      <div class="two">
        <div class="three">

        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src='/js/index.js'></script>
</html>
