
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: helvetica, arial, sans-serif, 'open sans';
}

h1 {
  color: tomato;
}


.player {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 200px;
  max-height: 200px;
}
