<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript</title>
    <link rel="stylesheet" href="./public/css/index.css">
  </head>
  <body>
    <h1>nav</h1>
    <nav class='top'>
      <div class="dropdownBackground">
        <span class='arrow'></span>
      </div>

      <ul class='cool'>
        <li>
          <a href="#">About Me</a>
          <div class="dropdown dropdown1">
            <div class="bio">
              <img src="https://avatars2.githubusercontent.com/u/23362989?s=460&v=4" alt="the real oddert" />
              <p>Ye boi if it isnt time for some Lorem ipsum dolor sit amet, consectetur adipisicing mollit anim id est laborum.</p>
            </div>
          </div>
        </li>
        <li>
          <a href="#">Courses</a>
          <ul class='dropdown courses'>
            <li>
              <span>Something</span>
              <a href="#">Something more</a>
            </li>
            <li>
              <span>Something</span>
              <a href="#">Something more</a>
            </li>
            <li>
              <span>Something</span>
              <a href="#">Something more</a>
            </li>
            <li>
              <span>Something</span>
              <a href="#">Something more</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Other Stuff</a>
          <ul class='dropdown dropdown3'>
            <li> <a href="#">Twitter (hellsite)</a> </li>
            <li> <a href="#">Facebook (sell ur dna)</a> </li>
            <li> <a href="#">Blog (wholesome)</a> </li>
            <li> <a href="#">Catalogue (??)</a> </li>
          </ul>
        </li>
      </ul>

    </nav>
  </body>
  <script type="text/javascript" src='./public/js/index.js'></script>
</html>
