body, html {
	margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	background: #ecf0f1;
}

* {
  font-family: helvetica, arial, sans-serif, 'open sans';
}

h1 {
  color: tomato;
}


button {
	font-size: 18px;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
	border-radius: 0;
	margin: 10px 0;
	position: relative;
	display: inline-block;
	transition: .1s linear;
}

button:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	top: 10px;
	left: 10px;
	background: gray;
	display: inline-block;
	transition: .1s linear;
}

button:hover:before {
	background: rebeccapurple;
	top: 12px;
	left: 12px;
}

button:active:before {
	background: indigo;
	top: 8px;
	left: 8px;
}

.header {
	display: flex;
	padding: 10px 30px;
}

.dialogue-wrapper {
	flex: 1;
	display: flex;
	padding: 10px 50px;
}

.dialogue {
	background: #bec3c7;
	border-radius: 20px;
	flex: 1;
	padding: 20px 40px;
}

.speechBubble {
	margin-top: 100px;
	margin-right: -1px;
}

.signature {
	font-family: 'Press Start 2P', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: right;
	margin: 16px 32px;
}
.signature * {
	font-family: 'Press Start 2P', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.oddBot {
  width: 320px;
  /* border: 1px dashed rgba(230, 127, 34, .3); */
}

.oddBot .hat {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hat-orb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(41, 127, 184, 1);
}
.hat-orb.lightup {
  background: rgba(93, 182, 249, 1);
  box-shadow: 0px 0px 10px rgba(93, 182, 249, 1);
}
.hat-orb.talking {
  background: rgba(45, 204, 112, 1);
  box-shadow: 0px 0px 10px rgba(45, 204, 112, 1);
}
/* .hat-orb.radar {
  background-color: rgba(0,0,0,0);
  background-image: url('http://localhost:3000/img/hat radar.png');
  width: 50px;
  height: 50px;
  box-shadow: none;
  border-radius: 0px;
} */

.oddBot .head-cont {
  /* border: 1px solid steelblue; */
  display: flex;
  /* width: auto; */
}

.oddBot .head {
  height: 100px;
  width: 180px;
  border: 20px solid #bec3c7;
  border-radius: 70px;
  /* background: rgba(52, 73, 94, .3); */
}

.oddBot .ear-cont {
  min-width: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* background: red; */
}

.oddBot .ear-cont .ear {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  background: #bec3c7;
  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.oddBot .ear-cont .ear .innerEar {
  background: #95a5a5;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


.oddBot .ear-cont .ear.left { justify-content: flex-end; }
.oddBot .ear-cont .ear.left .innerEar { margin-right: 3px; }
.oddBot .ear-cont .ear.right { justify-content: flex-start; }
.oddBot .ear-cont .ear.right .innerEar { margin-left: 3px; }

.oddBot .eyes {
  display: flex;
  height: 50px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

.oddBot .eyes .eye {
  width: 50px;
}

.eye.left { margin-right: 10px; }
.eye.right { margin-left: 10px; }


.oddBot .mouth-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.oddBot .mouth-cont .mouth {
  width: 50px;
}


.output {
	display: flex;
	flex-direction: column;
	padding: 0px 20vw;
}

.output button {
	align-self: flex-start;
}

.output .words {
	background: #01E5FF;
	margin-top: 20px;
	border-radius: 20px;
	padding: 10px 30px;
	position: relative;
	min-height: 50px;
}

.output .speechBubble {
	position: absolute;
	bottom: 10px;
	right: -20px;
}