<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript | Day #2 Clock</title>
    <script type="text/javascript" src='/js/index.js'></script>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <!-- <h1>Hello World</h1> -->
    <div class="clock-flex">
      <div class="clock">
        <div class="hand hours" id="hours"></div>
        <div class="hand minutes" id="minutes"></div>
        <div class="hand seconds" id="seconds"></div>
      </div>
    </div>
  </body>
</html>
