
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: helvetica, arial, sans-serif, 'open sans';
}

h1 {
  color: tomato;
  font-size: 58px;
  margin: 0px 0px 30px 0px;
}

.display__end-time {
  margin: 0;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.timer__controls {
  /* border: 1px dashed steelblue; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.timer__controls > * {
  /* flex: 1; */
}

.timer__controls-buttons {
  display: flex;
  flex: 1;
}

.timer__controls-buttons > * {
  flex: 1;
  display: flex;
}


.display__time {
  border: 1px dashed steelblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
  position: relative;
}

.display__time-inner {
  border: 1px solid steelblue;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display__time-inner > * {
  text-align: center;
}






.ring {
  position: absolute;
  outline: 1px solid tomato;
  top: 50%;
  transform: translateY(-50%);
}

.ring__circle {
  stroke-width: 8;
  fill: none;
  stroke: black;
  transition: .1s linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linejoin: square;
}
