<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oddert 30 Days of Javascript</title>
    <script type="text/javascript" src='/js/index.js'></script>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <div class="flex-container">
      <div class="flex">
        <p>HEY</p>
        <p>LETS</p>
        <p>DANCE</p>
      </div>
      <div class="flex">
        <p>GIVE</p>
        <p>TAKE</p>
        <p>RECIEVE</p>
      </div>
      <div class="flex">
        <p>EXPERIENCE</p>
        <p>IT</p>
        <p>TODAY</p>
      </div>
      <div class="flex">
        <p>GIVE</p>
        <p>ALL</p>
        <p>YOU CAN</p>
      </div>
      <div class="flex">
        <p>CHANGE</p>
        <p>THESE</p>
        <p>LATER</p>
      </div>
    </div>
  </body>
</html>
